.contactList {
  display: block;
  background-color: rgb(69, 221, 115);
  width: 300px;
  list-style: none;
  padding: 15px;
  border-radius: 3px;
}
.listItem {
  display: flex;
}
.listItem:not(:last-child) {
  margin-bottom: 8px;
}
.button {
  display: block;
  background-color: rgb(119, 247, 136);
  margin-left: auto;
  width: 20px;
  height: 20px;
  padding: 0px 0px 1px 1px;
  border-radius: 50%;
  border: 1px solid green;
}
.number {
  margin-left: 15px;
}
.name {
  width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
